/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}

.container {
	width: 100%;
	max-width: 2164px;
	/* max-width: 1000px; */
	margin: 0 auto;
}

.hexagon-net {}

.hexagon-net__inner {
	padding-top: 50px;
	padding-bottom: 50px;
	border-right: 1px solid #ff0000;
	border-left: 1px solid #ff0000;
}

.hexagon-net__header {
	width: 100%;
	max-width: 819px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: center;
}

.hexagon-net__icon-wrapper {
	margin-bottom: 31px;
}

.hexagon-net__icon {
	display: block;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

.hexagon-net__title,
.hexagon-net__subtitle,
.hexagon__title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hexagon-net__title {
	margin-bottom: 37px;
	font-size: 72px;
}

.hexagon-net__subtitle {
	margin-bottom: 34px;
	font-size: 28px;
	color: #737373;
}

.hexagons {
	display: flex;
	flex-wrap: wrap;
}

.hexagon-column {
	display: flex;
	flex-direction: column;
}

.hexagon-column:nth-child(2n+1) .hexagon {
	margin-top: 100px;
}

.hexagon-column:not(:first-child) {
	margin-left: -42px;
}

.hexagon {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	clip-path: polygon(25% 3%, 75% 3%, 99% 50%, 75% 97%, 25% 97%, 1% 50%);
}

.hexagon__title {
	position: absolute;
	bottom: 20%;
	left: 50%;
	font-size: 24px;
	color: #ffffff;
	transform: translate(-50%, -50%);
}

.hexagon.hexagon--music {
	background-color: #ff0000;
}

.hexagon.hexagon--cars {
	background-color: #205757;
}

.hexagon.hexagon--fashion {
	background-color: #9939f3;
}

.hexagon.hexagon--computers {
	background-color: #d2691e;
}

.hexagon.hexagon--technology {
	background-color: #43454e;
}

.hexagon.hexagon--games {
	background-color: #662020;
}

.hexagon.hexagon--keyboard {}

.hexagon.hexagon--neurons {}

.hexagon.hexagon--rocket {}